################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/12C-CSharp/FileContentIndex/21f8e341-9913-4e08-81ea-13c0ecb0eb7b.vsidx
/.vs/12C-CSharp/FileContentIndex/45d2bd68-bd0b-43bb-81bf-6b532127e8dc.vsidx
/.vs/12C-CSharp/FileContentIndex/8560b3df-c72c-4e68-b11d-f195debb45a8.vsidx
/.vs/12C-CSharp/FileContentIndex/abd13b0a-4bff-4309-b9a5-da595a0cbc06.vsidx
/.vs/12C-CSharp/FileContentIndex/ee44261e-c1a9-49df-a3c9-e9b26082f6e1.vsidx
/.vs/12C-CSharp/FileContentIndex/845e56e1-b2b3-4762-bd84-5d0292f23f58.vsidx
/.vs/12C-CSharp/FileContentIndex/e20f7032-50a4-4bc5-9bed-8e415b73eb07.vsidx
